@page "/end"
@using BattleShip.Models
@using BattleShip.App.Service

@inject HttpClient Http
@inject NavigationManager Navigation
@inject GameState GameState
<style>
    body{
        background-color: #E2A3AA;
    }
</style>
<h3>FIN DE PARTIE</h3>

@if (GameState.WinnerName != null)
{
    <p>Le gagnant est : <strong> @GameState.WinnerName</strong></p>
}
else
{
    <p>Le jeu est terminé, mais aucun gagnant n'a été déterminé.</p>
}

<button @onclick="StartNewGameIA">Nouvelle partie IA</button>
<button @onclick="StartNewGamePlayer">Nouvelle partie avec un autre joueur</button>

@if (!string.IsNullOrEmpty(DebugMessage))
{
    <div>@DebugMessage</div>
}

@code {
    private string DebugMessage { get; set; }
    private async Task StartNewGameIA()
    {

        Navigation.NavigateTo("/chooseShip/ia");

    }

    private async Task StartNewGamePlayer()
    {
        DebugMessage = "Fonctionnalité StartNewGamePlayer non encore implémentée.";
        Console.WriteLine(DebugMessage);

        DebugMessage += "\nSortie de StartNewGamePlayer.";
        Console.WriteLine(DebugMessage);
    }

   
}
