@page "/gameIA"
@using BattleShip.Models
@using BattleShip.App.Service
@attribute [Authorize]
@inject NavigationManager Navigation
@inject GameState GameState
<style>
    body{
        background-color: #E2A3AA;
    }
</style>

<h3>Bataille Navale</h3>

<button @onclick="StartNewGameIA">Démarrer une nouvelle partie</button>

@if (GameState.PlayerGrid != null)
{
    <GameIA />
}

@code {
    private string DebugMessage { get; set; } 

    private async Task StartNewGameIA()
    {

        Navigation.NavigateTo("/chooseShip/ia");

    }
}
