@page "/"
@using BattleShip.App.Service

@inject HttpClient Http
@inject GameState GameState

<h3>Bataille Navale</h3>

<button @onclick="StartNewGame">Démarrer une nouvelle partie</button>

@if (GameState.PlayerGrid != null)
{
<Game />
}

@code {
private async Task StartNewGame()
{
var response = await Http.PostAsJsonAsync("api/battleship/newgame", new { });
if (response.IsSuccessStatusCode)
{
var gameData = await response.Content.ReadFromJsonAsync<NewGameResponse>();
GameState.GameId = gameData.GameId;
GameState.InitializePlayerGrid(gameData.PlayerGrid);
}
}

public class NewGameResponse
{
public string GameId { get; set; }
public char[,] PlayerGrid { get; set; }
}
}