@page "/gameIA"
@using BattleShip.Models
@using BattleShip.App.Service

@inject HttpClient Http
@inject NavigationManager Navigation
@inject GameState GameState
<style>
    body{
        background-color: #E2A3AA;
    }
</style>

<h3>Bataille Navale</h3>

<button @onclick="StartNewGameIA">Démarrer une nouvelle partie</button>

@if (GameState.PlayerGrid != null)
{
    <GameIA />
}

@code {
    private string DebugMessage { get; set; } 

    private async Task StartNewGameIA()
    {

        var response = await Http.PostAsJsonAsync("https://localhost:7263/newGame", new { });
        if (response.IsSuccessStatusCode)
        {
            var gameData = await response.Content.ReadFromJsonAsync<NewGameResponse>();

            GameState.GameId = gameData.GameId;


            char[,] playerGrid = GameState.ConvertListToCharArray(gameData.PlayerGrid);
            bool?[,] opponentGrid = GameState.ConvertListToBoolArray(gameData.OpponentGrid);
            GameState.InitializePlayerGrid(playerGrid);
            GameState.InitializeOpponentGrid(opponentGrid);
            Navigation.NavigateTo("/game");

        }
        else
        {
            DebugMessage = "Erreur lors du démarrage de la nouvelle partie.";
            Console.Error.WriteLine(DebugMessage);
        }
    }

    public class NewGameResponse
    {
        public string GameId { get; set; }
        public string Player { get; set; }
        public string Opponent { get; set; }
        public List<List<char>> PlayerGrid { get; set; }
        public List<List<bool?>> OpponentGrid { get; set; }
    }
}
