@page "/"
@using BattleShip.Models
@using BattleShip.App.Service

@inject HttpClient Http
@inject NavigationManager Navigation
@inject GameState GameState
<style>
    body {
        background-color: #E2A3AA;
    }
</style>
<h3>Démarrer une nouvelle partie</h3>

<button @onclick="StartNewGameIA">Nouvelle partie IA</button>
<button @onclick="StartNewGamePlayer">Nouvelle partie avec un autre joueur</button>

@if (!string.IsNullOrEmpty(DebugMessage))
{
    <div>@DebugMessage</div>
}

@code {
    private string DebugMessage { get; set; } 
    private async Task StartNewGameIA()
    {
         Navigation.NavigateTo("/chooseShip/ia");

    }

    private async Task StartNewGamePlayer()
    {
        Navigation.NavigateTo("/chooseShip/player");
    }

}
